@value mainColor,makerWhite,makerShadow,makerSkyBlue,makerGrey,makerRed from "../../../common/color.css";

.add_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add_form span {
  color: makerRed;
  font-size: 1.2rem;
  font-family: Gimpo-Regular;
}

.habit_name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.habit_name input {
  width: 70%;
  border: none;
  background-color: makerSkyBlue;
  border-radius: 0.5rem;
  padding: 1.5rem 0 1.5rem 3%;
}

.set_color {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.controls {
  width: 73%;
  display: flex;
  justify-content: space-between;
}

.controls button {
  padding: 1rem;
  border: 0.3rem solid mainColor;
}

.color_container {
  width: 80%;
  height: 4rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.habit_name h5,
.set_color h5 {
  margin-right: 2.5rem;
}

.addBtn {
  width: 40%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0.3rem solid mainColor;
  margin: 2rem 0;
}
.addBtn:hover {
  color: makerWhite;
  background: mainColor;
}
