@value makerRed,makerYellow,makerGreen,makerPurple,boxShadow from "../../common/color.css";

.container {
  align-items: center;
}
.colors {
  display: flex;
  padding: 0;
}

.circle {
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
}
.red {
  background-color: makerRed;
}
.yellow {
  background-color: makerYellow;
}
.green {
  background-color: makerGreen;
}
.purple {
  background-color: makerPurple;
}
.random {
  box-shadow: boxShadow;
}
.dots {
  width: 1rem;
}
