.container {
  display: flex;
  flex-direction: column;
}

.dashboard {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  margin-top: 10rem;
}

.dashboard_main {
  width: 65%;
}
