html,
body {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: "Gimpo-Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Gimpo-Bold";
  src: url("./common/font/GimpoGothicBold.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gimpo-Regular";
  src: url("./common/font/GimpoGothicRegular.otf");
  font-weight: normal;
  font-style: normal;
}

ul {
  list-style: none;
}
li {
  cursor: pointer;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}
